#templates { display: none; }

/* Style Classes */
.bottom-padding-md { padding-bottom: 21px; }
.margin-top-md { margin-top: 21px; } 
.margin-top-sm { margin-top: 7px; }
.text-center { text-align: center; }

.title-font {
  font-family: Futura,"Trebuchet MS",Arial,sans-serif
}

.title-img {
  background: url("/img/flag.svg") no-repeat right center; 
}

.jumbotron { color: white; }

.jumbotron a {
  color: white;
}

.jumbotron a:hover {
  text-decoration: none;
}

.field-color {
  background-color: rgb(137, 201, 236);
}

.accent-color {
  color: rgb(216, 61, 61);
}
