#templates { display: none; }

/* Style Classes */
.bottom-padding-md { padding-bottom: 21px; }
.margin-top-md { margin-top: 21px; } 
.margin-top-sm { margin-top: 7px; }
.text-center { text-align: center; }
.margin-auto { margin: auto; }
.scrollbars { overflow: auto; }
.font-large { font-size: 48px; }
.left-padding-sm { padding-left: 7px; }
.vertical-margin-md {
  margin-top: 21px;
  margin-bottom: 21px;
}

@font-face{
  font-family: 'Permanent Marker';
  src:url(/font/permanentmarker.ttf);
}

.title-font {
  font-family: Futura,"Trebuchet MS",Arial,sans-serif
}

.title-img {
  background: url("/img/flag.svg") no-repeat right center; 
}

/** Upload button styling **/

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/** Our Jumbotron replacement **/

.banner {
  padding: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
  color: white;
}
.banner h1,
.banner .h1 {
  color: inherit;
}
.banner p {
  margin-bottom: 15px;
  font-size: 18px;
}

.banner a { color: white; }
.banner a:hover { text-decoration: none; }

/** Site Colors **/

.field-color {
  background-color: rgb(137, 201, 236);
}

.accent-color {
  color: rgb(216, 61, 61);
}
